html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}


.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(129, 236, 234);
    padding: 10px 20px 0px;
}
.header {
    background-color: white;
    min-height: 150px;
}
.content {
    
    background-color: white;
    min-height: 300px;
    padding: 20px;
    
}

.cardio {
    margin: 0 auto;
    background: rgb(197, 231, 202);
    border-radius: 25%;
    width: 135px;
    text-align: center;
            
}

.eletro {
    text-align: justify;
}


.footer {
    
    background-color: rgb(99, 56, 240);
    min-height: 150px;
    
}

.endereco {
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: auto;
    margin-top: 35px;
    width: 90%;
    text-align: left;
    
    
}

.tel {
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: -9%;
    text-align: center;
    
}

fieldset {
    margin: 5px 0;
    border-radius: 10px;
}